

body{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#mainForm{
    display: grid;
    grid-template-columns: 80px 150px;
    grid-auto-rows: 40px;
}

#mainForm > * {
    align-self: start;  /* Stops vertical stretching */
    justify-self: start; /* Stops horizontal stretching */
}