@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&family=UnifrakturMaguntia&display=swap');

:root {
    --parchment: #e1d0a7;
    --gold: #c49a6c;
    --ink: #462b20;
    --leather: #7a4d3a;
    --red: #9e2a2b;
    --dark-wood: #5a3e2b;
}

:valid{
     border: 3px solid green; 
}

:invalid{
    border: 3px solid red;
}

body{
    height: 100vh;
    background-color: var(--parchment);
    color: var(--ink);
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: "MedievalSharp", cursive;
}

h1{
    color: var(--red);
    font-family: "UnifrakturMaguntia", cursive;
}


#mainForm{
    font-size: x-large;
    background-color: var(--parchment);
    border: 3px solid var(--gold);
    display: grid;
    grid-template-columns: 150px 180px;
    grid-auto-rows: 40px;
    padding: 8px 8px;
    width: 350px;
    height: 250px;
        /* Inset groove border for carved effect */
    border: 8px groove var(--dark-wood);
    border-radius: 5px;

}

input{
    background-color: var(--leather);
    color: var(--parchment);
    border: 3px solid var(--gold);
    font-family: "MedievalSharp", cursive;
}

#mainForm > * {
    align-self: start;  /* Stops vertical stretching */
    justify-self: start; /* Stops horizontal stretching */
}